# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
/bin/
/build/
/dist/

# Enviroment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/

.vscode/

# OS files
.DS_Store
Thumbs.db 